.fondo{
    background-color: #151515;
}

.flex{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 2px solid white; */
    height: 90vh;
}    

.name{
    color: white;
    margin-top: 20px;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    margin-left: 30px;
    padding-left: 20px;
    
}

.imagen{
    height: 60vh;
    width: 70vh;
    padding-right: 20px;
    padding-left: 20px;
}

.name{
    height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

.genres{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 50px;
}

.subtitulo{
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    color: hsla(0,0%,100%,.2);
}
.nombres{
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 22px;
}

.descripcion{
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 22px;
}

.about{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 8px;
    padding: 0;
}

.grilla{
    display: flex;
    flex-direction: row;
}