.fondo{
    background-color: #151515;
}

.flex{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 2px solid white; */
    height: 90vh;
}    

.name{
    color: white;
    margin-top: 20px;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    margin-left: 30px;
    padding-left: 20px;
    
}

.imagen{
    height: 60vh;
    width: 70vh;
    padding: 20px;
    margin-top: 20px;
}

.name{
    height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

.genres{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 100px;
}

.subtitulo{
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    color: hsla(0,0%,100%,.2);
    letter-spacing: 1.5px;
}
.nombres{
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 22px;
}

.descripcion{
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 22px;
}

.about{
    color: hsla(0,0%,100%,.2);
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 8px;
    padding: 0;
}

.grilla{
    display: flex;
    flex-direction: row;
}

.rating{
    color: #6dc849;
    border-color: rgba(109,200,73,.4);
    display: inline-block;
    box-sizing: border-box;
    padding: 2px;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    border: 1px solid;
    width: 40px;
}

.btn{
    background-color: hsla(0,0%,100%,.16);
    color: hsla(0,0%,100%,.8);
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    min-width: 34px;
    min-height: 24px!important;
    padding: 0 8px;
    line-height: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.btn:hover{
    background-color: #fff;
    color: grey;
}