.fondo{
    background-color: #e9eef2;
    height: 100vh;
    /* background-image: linear-gradient(90deg, rgba(0,0,0,0.9) 20%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.2) 100%), url('./assets/fondo.jpg'); */
    background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.9) 100%), url('./assets/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: #ccc;
    padding: 10% 0;
}

.btn{
    color: #fff;
    background-color: #161616;
    border-radius: 12px;
    border: none;
    height: 52px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    font-size: 16px;; 
    font-weight: 500;
    text-decoration: none;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    background-color: #e9eef2;
    color: #161616;
    border: 1px solid #ccc;
    border-radius: 12px;
}