.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #151515;
}

.btn{
    margin: 20px;
    height: 35px;
    width: 35px;
    background-color: hsla(0,0%,100%,.1);
    color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
    color: grey;
}

.btn:focus{
    background-color: #fff;
    color: grey;
}